[[source]]
url = 'git@github.com:presentes/hijos.git'
verify_ssl = true

[requires]
python_version = '2.7'

[packages]
wagtail = '>=1.9,<1.10'
Django = '>=1.10,<1.11'

[dev-packages]
nodeenv = '*'
pylint = '*'
